<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<script src="/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

<script type="text/javascript">
	//오류남. 꼭 복습해볼것.
	$(document).ready(function(){
		$("#btnOK").on("click", function(){
			//AJAX 동작
			$.ajax({
				url: "/data/pharmacyFullData",
				type: "POST",
				data: {page: 1, row: 10}, //1페이지 10줄짜리 출력
				dataType: "text",
				success: function(data){
					alert(data);
					console.log(JSON.parse(data));
				},
				error: function(){
					alert("ajax 통신에 오류가 발생했습니다.");
				}
			});
		});
	});
</script>

</head>
<body>
	<header class="container">
		<div class="jumbotron">
			<h1>공공데이터 포털에서 데이터 가지고 오기</h1>
		</div>
	</header>
	<main class="container">
		<section>
			<article>
				<button class="btn btn-primary" id="btnOK">데이터 가져오기</button>
			</article>
		</section>
	</main>
</body>
</html>